/* Volders challenge css code v.2 by Emre Camasuvi */
body {
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #646c79;
  min-height: 100vh;
  height: 100vh;
}
.drop {
  position: absolute;
  z-index: 1010;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .65);
  display: none;
}
.drop.d-visible {display: block}

/* utilities, helpers */
.di {display: inline}
.db {display: block}
.dib {display: inline-block}

.df {display: flex}
.aic {align-items: center}
.pr {position: relative}

/* grid, padding, margin */
.ma {margin: auto}
.m0 {margin: 0}
.p0 {padding: 0}
.p20 {padding: 20px}
.mt24 {margin-top: 24px}
.mb32 {margin-bottom: 32px}

.w100 {width: 100%}
.mw360  {max-width: 360px}

/* decorators */
.with-box-shadow {box-shadow: 0 0 30px rgba(0,0,0,.3)}
.with-box-shadow-popup {box-shadow: 0 .4rem .9rem rgba(0,0,0,.15)}
.color-blue {color: #1b4496}
.color-lightblue {color: #5a94d6}
.bg-white {background: #fff}
.bg-gray {background: #f9f9f9}
.bg-dark-gray {background: #b7c4d1}
.tar {text-align: right}
.tac {text-align: center}

/* page specific */

.volders-logo {
  display: block;
  background: url('../img/volders-logo.svg') no-repeat center center;
  display: block;
  text-indent: -99em;
  overflow: hidden;
  width: 190px;
  height: 80px;
  margin: 10px 0 0 10px;
} 

.centered-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-title {
  margin-bottom: 12px;
  font-weight: 600;
}

.progress-container {
  padding: 30px 20px;
}

.progress-bar {
	border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
  width: 100%;
}
.progress {
  animation: loader 2s ease forwards;
  background: #1b4496;
  padding: 5px;
  width: 0;
}

.form-field {
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 4px;
  position: relative;
  border: 1px solid #b7c4d1;
  cursor: pointer;
  width: 45%;
}
.form-field.one-liner-ff {
  width: 96%;
}
.form-field:after {
  content: '';
  line-height: 24px;
  font-size: 12px;
}
.form-field + .form-field {margin-left: 20px}

.form-input-text, .form-field-like {
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
  text-indent: 4px;
  z-index: 3;
  border: 0;
  width: 100%;
  padding: 0;
  cursor: pointer;
}
.form-input-text:focus {
  border: 0;
  outline: 0;
}
.form-input-label {
  position: absolute;
  transform: translateZ(0);
  transition: all .2s ease-in-out;
  color: #b7c4d1;
  left: 8px;
  top: 8px;
  z-index: 2;
}
.form-field:hover .form-input-label, 
.form-field:active .form-input-label,
.form-field:focus-within .form-input-label, 
.form-input-text:focus + .form-input-label,
.pristine .form-input-label {
  transform: translate3d(0, -16px, 0) scale(.6);
  background-color: #fff;
  display: inline-block;
  left: -8px;
  padding-left: 4px;
  padding-right: 4px;
  line-height: 16px;
}
.error {
  border-color: #de5559;
}
.error .form-input-label {color: #de5559}
.error:after {
  content: 'Bitte eingeben';
  color: #de5559;
  top: 32px;
  left: 0;
  position: absolute;
}
.form-field-radio {
  margin-top: 32px;
  border: 0;
  padding: 0;
}
.form-field-radio + .form-field-radio {margin-top: 20px}
.ffr-label {
  display: block;
  width: 100%;
  cursor: pointer;
}
.ffr-label .ffr-input {
  float: left; 
  margin-right: 10px;
}
.ffr-subtitle {margin-bottom: 8px}
.ffr-text {margin-top: 0px}



.cta-btn {
  background: #00c98a;
  color: #fff;
  padding: 0 60px;
  line-height: 40px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
}
.cta-btn:hover {background: #13aa7a}
.cta-edit {
  background-color: #fff;
  padding: 2px 4px;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
}

/* volders v2 rework */
.mega-title {
  margin: 10px 0;
  font-weight: 200;
  font-size: 32px;
  line-height: 36px;
}
.sub-mega-title {
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}
.focused-on-form-context {
  max-width: 598px;
  color: #525252;
  border: 1px solid #e8e8e8;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 4px 20px rgba(0,0,0,.07);
  margin: 24px auto auto;
}

/* popup modal */
.popup-modal {
  width: 650px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 45px;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in-out;
  z-index: 1011;
}
.popup-modal.is-visible {
  opacity: 1;
  pointer-events: auto;
} 
.popup-modal-close {
  position: absolute;
  font-size: 3rem;
  right: 10px;
  top: -5px;
  cursor: pointer;
}


@media (max-width: 480px) {
  .centered-wrapper {margin-top: 0}
  .responsive-form {width: 640px}
  .form-field {width: calc(100% - 20px)}
  .form-field:nth-child(even) {
    margin-top: 24px;
    margin-left: 0;
  }
}

/* some utilities matter */
.dn {display: none}